Enterprise/Warehouse/Service References/StoreService/Store1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="books">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="book" nillable="true" type="book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="books" nillable="true" type="books" />
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="book" nillable="true" type="book" />
  <xs:complexType name="orders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="order" nillable="true" type="order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="orders" nillable="true" type="orders" />
  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="book_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="order" nillable="true" type="order" />
</xs:schema>