Enterprise/StorePrinter/Service References/StoreService/Store2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/Store?xsd=xsd2" />
  <xs:import schemaLocation="http://localhost:9000/Store?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllBooksResult" nillable="true" type="books" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBookResult" nillable="true" type="book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllOrdersResult" nillable="true" type="orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrdersResult" nillable="true" type="orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="book_title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeaSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client_addr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book_title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeaSellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeaSellResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStoreOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client_addr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book_title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStoreOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateStoreOrderResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book_title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmSellResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookTitle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBookTitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuantity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQuantityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPriceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book_title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>